<div class="container-fluid flex-column flex-xl-row vh-100 vw-100 d-flex gap-5">
  <app-side-nav></app-side-nav>
  <div class="row pt-5 pb-5 flex-grow-1 row-gap-5 flex-wrap justify-content-center">
    <!-- Section containing temperature and humidity information -->
    <section class="double-section d-flex gap-4">
      <!-- Temperature card -->
      <div class="glass-effect d-flex flex-column align-items-center p-4 gap-4">
        <div class="d-flex flex-column gap-3 align-items-center">
          <!-- Icon for temperature -->
          <div class="image-container">
            <img src="../../../../../assets/Icons/temperature.svg" alt="Temperature icon" />
          </div>
          <!-- Label for temperature -->
          <span class="text-light">Temperature</span>
        </div>
        <!-- Temperature value -->
        <span class="text-light fs-6">
          <ng-container *ngIf="!isLoading; else loading">
            <span [@numberChange]="tempValue">{{tempValue}}</span>
            <sup><i class="fa-regular fa-circle small"></i></sup>C
          </ng-container>
          <ng-template #loading>
            <span class="shimmer-loader" style="display: inline-block; width: 40px; height: 1em; border-radius: 4px;"></span>
          </ng-template>
        </span>
      </div>

      <!-- Humidity card -->
      <div class="glass-effect d-flex flex-column align-items-center p-4 gap-4">
        <div class="d-flex flex-column gap-3 align-items-center">
          <!-- Icon for humidity -->
          <div class="image-container">
            <img src="../../../../../assets/Icons/cloud.svg" alt="Cloud icon" />
          </div>
          <!-- Label for humidity -->
          <span class="text-light">Humidity</span>
        </div>
        <!-- Humidity value -->
        <span class="text-light fs-6">
          <ng-container *ngIf="!isLoading; else loadingHum">
            <span [@numberChange]="humValue">{{humValue}}</span>%
          </ng-container>
          <ng-template #loadingHum>
            <span class="shimmer-loader" style="display: inline-block; width: 40px; height: 1em; border-radius: 4px;"></span>
          </ng-template>
        </span>
      </div>
    </section>

    <!-- Section containing water pH information -->
    <section class="single-section d-flex gap-4">
      <!-- Water pH card -->
      <div class="glass-effect d-flex flex-column gap-4 align-itmes-center justify-content-center p-4 w-100">
        <!-- Label and icon for water pH -->
        <div class="d-flex align-items-center gap-3 text-light">
          <div class="image-container">
            <img src="../../../../../assets/Icons/water.svg" alt="Water Icon">
          </div>
          <span>Water pH</span>
        </div>
        <!-- Range indicator for water pH -->
        <div class="range-container d-flex align-items-center gap-2">
          <div class="w-100 bg-white rounded-5" style="height: 5px;"></div>
        </div>
      </div>
    </section>

    <!-- Section containing quick actions for system control -->
    <section class="single-section d-flex flex-column gap-3 glass-effect p-3 ps-4">
      <!-- Title for quick actions -->
      <span class="text-light fs-6">Quick Actions</span>
      <!-- Quick action: Stop All Systems -->
      <div class="d-flex flex-column gap-2">
        <div class="d-flex gap-2 align-items-center">
          <div class="checkbox-wrapper-22">
            <label class="switch" for="stopAllSystems">
              <input type="checkbox" id="stopAllSystems" />
              <div class="slider round"></div>
            </label>
          </div>
          <span class="text-light">Stop All Systems</span>
        </div>
      </div>
      <!-- Quick action: Turn Off Lights -->
      <div class="d-flex flex-column gap-2">
        <div class="d-flex gap-2 align-items-center">
          <div class="checkbox-wrapper-22">
            <label class="switch" for="turnOffLights">
              <input type="checkbox" id="turnOffLights" />
              <div class="slider round"></div>
            </label>
          </div>
          <span class="text-light">Turn Off Lights</span>
        </div>
      </div>
      <!-- Quick action: Stop Watering -->
      <div class="d-flex flex-column gap-2">
        <div class="d-flex gap-2 align-items-center">
          <div class="checkbox-wrapper-22">
            <label class="switch" for="stopWatering">
              <input type="checkbox" id="stopWatering" />
              <div class="slider round"></div>
            </label>
          </div>
          <span class="text-light">Stop Watering</span>
        </div>
      </div>
    </section>

    <!-- Section containing CO2 level and light intensity information -->
    <section class="double-section d-flex gap-4">
      <!-- CO2 level card -->
      <div class="glass-effect d-flex flex-column align-items-center p-4 gap-4">
        <div class="d-flex flex-column gap-3 align-items-center">
          <!-- Icon for CO2 level -->
          <div class="image-container">
            <img src="../../../../../assets/Icons/co2.svg" alt="CO2 icon" />
          </div>
          <!-- Label for CO2 level -->
          <span class="text-light">Soil moisture</span>
        </div>
        <!-- CO2 level value -->
        <span class="text-light fs-6">
          <ng-container *ngIf="!isLoading; else loadingMon">
            <span [@numberChange]="monValue">{{monValue}}%</span>
          </ng-container>
          <ng-template #loadingMon>
            <span class="shimmer-loader" style="display: inline-block; width: 40px; height: 1em; border-radius: 4px;"></span>
          </ng-template>
        </span>
      </div>

      <!-- Light intensity card -->
      <div class="glass-effect d-flex flex-column align-items-center p-4 gap-4">
        <div class="d-flex flex-column gap-3 align-items-center">
          <!-- Icon for light intensity -->
          <div class="image-container">
            <img src="../../../../../assets/Icons/light.svg" alt="Light intensity icon" />
          </div>
          <!-- Label for light intensity -->
          <span class="text-light">Light Intensity</span>
        </div>
        <!-- Light intensity value -->
        <span class="text-light fs-6">
          <ng-container *ngIf="!isLoading; else loadingLight">
            86%
          </ng-container>
          <ng-template #loadingLight>
            <span class="shimmer-loader" style="display: inline-block; width: 40px; height: 1em; border-radius: 4px;"></span>
          </ng-template>
        </span>
      </div>
    </section>
  </div>
</div>