.container-fluid {
  height: fit-content !important;
}

.row {
  column-gap: 59px;
}

section {
  width: calc(50% - (39px / 2)) !important;
  height: 182px !important;
  min-width: 340px;
  max-width: 388px;
  padding-inline: 0px;
}

.double-section .glass-effect {
  width: calc(50% - (39px / 2));
}

.double-section {
  justify-content: space-between;
}


sup i {
  font-size: 5px;
}


.glass-effect {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.glass-effect:hover {
  border-color: var(--primary-color);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.text-light {
  color: #f8f9fa; /* Light text color */
}

.fs-6 {
  font-size: 1rem; /* Font size for fs-6 */
}

.shimmer-loader * {
  transition: 0.2s;
}

.shimmer-loader {
  width: 40%;
  height: 1rem;
  background: linear-gradient(90deg, #ffffff25 25%, #f8f8f8 50%, #ffffff25 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
