<div class="d-flex flex-column gap-5 pt-4 ps-3">
  <div class="img-container">
    <img src="../../../../../assets/GreenSyncLogo.svg" alt="Green Sync Logo"/>
  </div>

  <!-- Updated List with Simple Items -->
  <ul class="list-unstyled ps-4 d-flex flex-column gap-4">
    <li><a routerLink="/house-owner/dashboard" class="text-decoration-none text-light d-flex gap-2 align-items-center">
      <img src="../../../../../assets/Icons/dashboard.svg" alt="Dashboard Icon"/>
      <span class="fs-5">Dashboard</span>
    </a></li>
    <li><a routerLink="/house-owner/users" class="text-decoration-none text-light d-flex gap-2 align-items-center">
      <img src="../../../../../assets/Icons/users.svg" alt="Users Icon"/>
      <span class="fs-5">Users</span>
    </a></li>
    <li><a routerLink="/house-owner/users" class="text-decoration-none text-light d-flex gap-2 align-items-center">
      <img src="../../../../../assets/Icons/settings.svg" alt="Users Icon"/>
      <span class="fs-5">Settings</span>
    </a></li>
  </ul>
</div>
