ul {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}

li {
  width: fit-content;
}

li a {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

li a:hover:not(.active) {
  opacity: 1;
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  -o-transform: translateX(7px);
}

.active {
  opacity: 1 !important;
  cursor: default !important;
  transform: translateX(7px);
  -webkit-transform: translateX(7px);
  -moz-transform: translateX(7px);
  -ms-transform: translateX(7px);
  -o-transform: translateX(7px);
}

.active-nav {
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

@media (max-width: 1201px) {
  ul {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1000;
    transition: 0.4s;
    transform: translate(-200%, -50%);
    -webkit-transform: translate(-200%, -50%);
    -moz-transform: translate(-200%, -50%);
    -ms-transform: translate(-200%, -50%);
    -o-transform: translate(-200%, -50%);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    background-color: #00000078;
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 0 28px 28px 0;
    -webkit-border-radius: 0 28px 28px 0;
    -moz-border-radius: 0 28px 28px 0;
    -ms-border-radius: 0 28px 28px 0;
    -o-border-radius: 0 28px 28px 0;
  }
}

.sticky-top {
  border-radius: 0px 0px 28px 28px;
  width: 100vw;
  backdrop-filter: blur(10px);
  transform: translate(-12px);
  -webkit-transform: translate(-12px);
  -moz-transform: translate(-12px);
  -ms-transform: translate(-12px);
  -o-transform: translate(-12px);
  -webkit-border-radius: 0px 0px 28px 28px;
  -moz-border-radius: 0px 0px 28px 28px;
  -ms-border-radius: 0px 0px 28px 28px;
  -o-border-radius: 0px 0px 28px 28px;
}