<div class="position-relative min-vw-100 min-vh-100">
  <!-- Image Overlay -->
  <div class="image-container w-100 h-100 position-absolute">
    <img class="w-100 h-100 object-fit-cover" src="../../../assets/bg.webp" alt="Green Sync | Login Page Background Image">
  </div>
  <!-- Black Overlay -->
  <span class="w-100 h-100 position-absolute bg-black opacity-50 overlay"></span>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
