body {
  background-color: #F5F5F5;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

input {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 16px !important;
  color: inherit;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}

input:focus {
  outline: none;
}

@media (max-width: 1205px) {
  app-side-nav {
    display: none !important;
  }

}

:root {
  --primary-color: #4CAF50;
  --secondary-color: #0E9D9B;
}

/* GLobal Classes */
.text-color-prim {
  color: var(--primary-color) !important;
}

.text-color-sec {
  color: var(--secondary-color) !important;
}

.backg-primary {
  background-color: var(--primary-color) !important;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.077);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cursor-pointer {
  cursor: pointer;
}

.link-hover:hover {
  color: #465FF1 !important;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.disable-click {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-input {
  border: 1px solid #465FF166;
  font-size: 16px;
  padding: 8px 16px;
  height: 48px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.form-input:focus {
  outline: none;
}

.form-btn {
  width: 100%;
  text-transform: capitalize;
  padding: 10px 20px;
  border: 0;
  color: white;
  background-color: #465FF1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
